<html ng-csp ng-app="wymi" ng-controller="RouteController as router">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>WYMI</title>

    <base href="/">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='/build/_bower.css' rel='stylesheet' type='text/css'>
</head>
<body>

<div wymi-content=""></div>

<div id="deferredJS">
    <script src="/build/_bower.js"></script>
    <script src="/build/wymi-client.min.js"></script>
</div>

</body>
</html>